<h1>Reset Instructions Sent</h1>

<p>
  Password reset instructions have been mailed to you. Please check your
  e-mail. Be sure to check your junk folder and add
  <%= PasswordMailer.from_user %>@<%= request.domain %> to your address
  book.
</p>
