<h1>Link Invalid</h1>

<p>
  The link you clicked is no longer valid. After a password has been
  updated we invalidate the link used to reset the password to help
  prevent someone from gaining un-authorized access to your account.
  You can always send a new e-mail with a valid link by visiting the
  <%= link_to 'forgot password page', new_password_path %>
</p>
