<p>Enter your e-mail address below. We will send you an e-mail that
will allow you to reset your password.</p>

<%= form_tag passwords_path do %>
  <label for="email">E-mail</label>
  <%= email_field_tag 'email', params[:email], :autofocus => true %>
  <%= submit_tag 'Reset Password' %>
<% end %>
